<appSettings>
  <add key="MailServer" value="smtp.gmail.com" />
  <add key="FacebookAppId" value="2253312261441614" />
  <add key="FacebookAppSecret" value="730b89e00401f78fb188f03b38f304df" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>